body{
    background-color: black;
}


h1{
    color: gold;
    font-family: "Arial Rounded MT Bold";
    font-size: xxx-large;
}a:hover{
      color: white;
 }

 p{
     font-family: "Arial Rounded MT Bold";
     color: white;
 }

 .nav-link{
     color: gold;

 }

 .nav-link:hover{
     color: white;
 }

 .l{
     color: gold;
     font-family: "Arial Rounded MT Bold";
 }

 h2{
     font-family: "Arial Rounded MT Bold";
     color: white;
 }

 h3{
     font-family: "Arial Rounded MT Bold";
     color: white;
 }
