h1{
    color: hotpink;
    font-family: "Brush Script MT";
    font-size: xx-large;
    background-color: aliceblue;
}a:hover{
      color: hotpink;
    }

 p{
     font-family: "Arial Rounded MT Bold";
 }


